<div class="row">
  <div class="col-sm-6">
    <div id="card-food-item" class="card">
      <img class="card-img-top" src="../../assets/photo-1504185945330-7a3ca1380535.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">BURGER</h5>
        <p class="card-text">CHEESE + BEEF</p>
        <p class="card-text">Price: 50 $</p>
        <p class="card-text">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </p>
        <a href="#" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="card-food-item" class="card">
      <img class="card-img-top" src="../../assets/photo-1511688878353-3a2f5be94cd7.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">LEMONA</h5>
        <p class="card-text">ALL KIND OF LEMON</p>
        <p class="card-text">Price: 50 $</p>
        <p class="card-text">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </p>

        <a href="#" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div id="card-food-item" class="card">
      <img class="card-img-top" src="../../assets/photo-1511690656952-34342bb7c2f2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SPEACIAL COMBO 1</h5>
        <p class="card-text">FOOD 1+ FOOD 2+ FOOD 3</p>
        <p class="card-text">Price: 50 $</p>
        <p class="card-text">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </p>
        <a href="#" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="card-food-item" class="card">
      <img class="card-img-top" src="../../assets/photo-1532980400857-e8d9d275d858.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CAKE</h5>
        <p class="card-text">HONEY + EGGS</p>
        <p class="card-text">Price: 50 $</p>
        <p class="card-text">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </p>
        <a href="#" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>